* {
  font-family: 'Unbounded', sans-serif !important;
}
.navbar {
  background-color: #fff;
  height: 70px;
  margin: 30px;
  border-radius: 16px;
  padding: 0.5rem;
}

.navbar-brand {
  font-weight: 500;
  color: #009970;
  font-size: 24px;
  transition: 0.3s color;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: #666777;
  font-weight: 500;
  position: relative;
}

.nav-link:hover {
  color: black;
}

.social-icons a {
  display: inline-block;
  margin: 0 8px;
}

.social-icon {
  width: 40px; /* تحديد حجم الأيقونة */
  height: 40px; /* تحديد ارتفاع الأيقونة */
  border-radius: 50%; /* جعل الأيقونات دائرية */
  transition: transform 0.3s ease-in-out; /* تأثير عند التمرير على الأيقونة */
}

.social-icon:hover {
  transform: scale(1.1); /* تكبير الأيقونة عند التمرير */
}

/* تنسيق العناصر في الـ navbar */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.social-icons {
  display: flex;
  align-items: center;
}

/* Hero Section */
.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../img/image2.png") no-repeat center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 50px 10%;
  color: white;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(30, 30, 70, 0.7); /* بنفسجي داكن مع تعتيم قوي */
  z-index: 0;
}
.hero-content{
  position: relative;
  z-index: 2;
  max-width: 800px;
  text-align: left;
}



.hero-section h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: white !important; /* إجبار اللون الأبيض */
}

.highlight {
  color: transparent; /* يجعل النص غير مرئي */
  -webkit-text-stroke: 1px #e63946; /* تحديد الحدود بلون معين */
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 3.3rem;
}




.hero-section p {
  font-size: 1.3rem;
  font-weight: 200;
  line-height: 1.3;
margin-bottom: 18px;
  color: #ddd;
}

/* زر */
.hero-text .btn {
  background-color: #e63946;
  color: white !important;
  padding: 12px 20px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: normal;
  font-size: 0.7rem;
  display: inline-block;
  margin-top: 17px;
  transition: 0.3s ease-in-out;
  min-width: 150px;
  text-align: center;
}


.btn:hover {
  background-color: #c72e3d;
  transform: scale(1.05);
}
